.footer {
  width: 100%;
  text-align: center;
  padding: $spacing-04 0;
}

.footer__icons-section {
  display: none;
  justify-content: center;
  width: 100%;
  margin: $spacing-03 0;
}

.footer__icons-section__icon {
  & > a >svg {
    fill: white;
    width: 24px;
    height: 24px;
    margin: 0 $spacing-02;
  }
}


@media (max-width: $tablet-breakpoint) {
  .footer__icons-section {
    display: flex;
  }
}