
.portfolio {
  display:flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 32px;
  margin: 64px 0;
  box-shadow: 12px 12px $background-secondary;
  background-color: $white-secondary;
  color: $ink-alt-primary;

  transition: transform 0.3s , box-shadow 0.3s;

  &:hover {
    transform: translate(-5px,-5px);
    box-shadow: 20px 20px $background-secondary;
  }
}

.portfolio__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  grid-template-areas: "A B";

  & > div:nth-child(1) {
    grid-area: A 
  }

  & > div:nth-child(2) {
    grid-area: B
  }
}

.portfolio__content {
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas: 
    "prefix icon . . ."
    "title title title title title";
}

.portfolio__title > h3:first-child {
  grid-area: prefix;
  white-space: nowrap;
}

.portfolio__title > div:nth-child(2) {
  grid-area: icon;
  align-self: end;
  padding-left: 24px;

  svg {
    height: 48px;
    width: 48px;
    fill: $primary-dark;
  }
}

.portfolio__title > h3:nth-child(3) {
  grid-area: title;
  color: $primary-dark;
}

.portfolio__text > div {
  display: block;
  margin-top: 18px;
  font-size: 20px;
  line-height: 1.15;
  text-align: left;
  margin-bottom: 24px;
}

.portfolio__title > h3 {
  font-size: 48px;
  font-weight: 500;
  vertical-align: bottom;
}


.portfolio__developer-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  
  align-items: center;
  gap: 12px;
}

.portfolio__developer-list-item {
  display: flex;
  align-items: center;
  
  svg {
    min-width: 32px;
    min-height: 32px;
    fill: black;
    margin-right: 12px;
  }

  div {
    font-weight: 500;
    font-size: 14px;
    font-family: monospace;
  }
}

@media (max-width: $screen-breakpoint) {
  .portfolio__wrapper {
    grid-template-columns: 1fr;
  }

  .portfolio-composer {
    .portfolio__wrapper {
      grid-template-areas: "B"
      "A";
    }
  }

  .portfolio-developer {
    .portfolio__wrapper {
      grid-template-areas: "A"
      "B";
    }
    .experience-list {
      margin-left: 0px;
    }

    .experience-list-item > div:nth-child(3) {
      text-align: justify;
    }

    .experience-tools-list > div:first-child {
      margin: 0 4px;
    }

    .experience-tools-list > div.chip {
      text-align: center;
    }

    .experience-tools-list {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 10px; /* Optional spacing between items */
    }
  }

  

  .portfolio {
    padding: 18px;
  }
}